body {
  font-family: Arial, sans-serif;
  background-color: #f3f3f3;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h2.title {
  color: #ff4081; /* Título em rosa */
  margin-bottom: 15px; /* Menos espaço abaixo do título */
}

p {
  font-size: 16px;
  color: #666;
  line-height: 1.6;
}

.tenor-gif {
  margin: 20px auto;
  width: 80%; /* Tamanho do gif ajustado */
}

form {
  display: flex;
  flex-direction: column;
  padding: 15px; /* Menos espaço interno no formulário */
  border-radius: 5px;
  background-color: #fff; /* Fundo branco para o formulário */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05); /* Pequena sombra para destacar */
  margin-bottom: 15px; /* Espaço entre o formulário e o próximo conteúdo */
}

input, textarea {
  width: 100%;
  padding: 8px; /* Menos espaçamento interno para os campos */
  margin: 8px 0; /* Menos margem entre os campos */
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #ff4081;
  color: white;
  border: none;
  padding: 8px 15px; /* Botão menor */
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 10px; /* Espaço entre o botão e o campo anterior */
}

button:hover {
  background-color: #e91e63;
}

p {
  font-size: 16px;
  color: #666;
  line-height: 1.6;
  margin-top: 15px; /* Espaço entre parágrafos */
}
